<div class="container">

  <body-text-chat></body-text-chat>
</div>

  <div class="row" style="overflow: auto;">
    <div class="col-md-9">
      <div class="inputRow">
        <ion-input class="ionTextarea" rows="1" #userMsg placeholder="Pergunte para o Spark!"></ion-input>
      </div>
    </div>

    <div class="input">
    <div class="col-md-3">
      <div class="send">
        <img src="assets/imgs/ic_send_white_24px.svg" ng-if="userMsg.length != 0" (click)="setUserMsg(userMsg.value); userMsg.value = null">
      </div>
    </div>
  </div>
  </div>
