page-cadastro-eletrodomestico {

    .submit-btn{
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }
    .foto-btn{
        background: #51CFB1;
        border-radius: 30px !important;
        width: 3em;
        height: 3em;
        border: 1px solid #ffffff;
        margin-bottom: 5%;
        margin-top: 5%;
    }


}
