page-config {
    .button-inner{
        justify-content:flex-start;
        font-family: 'Comic Neue', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: 200;
        color: black;

    }
}
