page-lista-eletrodomesticos {
    .adicionarBtn{
        color: #E59400;
    } 
    .addBtn{
        background-color: #E59400;
    }
    .card{
        //border: 1px solid #E59400;
        border-radius: 5px;
    }
    .dados-eletrodomestico{
        color: #51CFB1;
    }
    .potenc-eletrodomestico{
        color: #E59400;

    }
    .labelElem{
        margin-bottom: 2%;
    }
}
